<!-- *This is a css translation of a 404 image of the site: http://retromodular.com/ -->
<style>
    @import url(https://fonts.googleapis.com/css?family=Inconsolata);
    html,
    body {
        background: rgb(22, 22, 22);
        font-family: 'Inconsolata', sans-serif;
    }
    .wrap {
        top: 50%;
        left: 50%;
        width: 400px;
        height: 200px;
        margin-left: -200px;
        margin-top: -100px;
        position: absolute;
    }
    code {
        color: white;
    }
    span.blue {
        color: #48beef;
    }
    span.comment {
        color: #7f8c8d;
    }
    span.load {
        color: #f39c12;
    }

    .source, a{
        color:white;
        text-decoration: none;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
</style>
<!-- *This is a css translation of a 404 image of the site: http://retromodular.com/ -->

<div class="wrap">
    <div class="404">
    <pre><code>
      (<span class="blue">function</span>( inDevelopment ) {
           <span class="blue">function</span> launch() {
              <span class="blue">if</span>( inDevelopment ) {
                  <span class="blue">return</span>;
              }
              <span class="comment">//TODO: find page</span>
        }
      window.addEventListener( <span class="load">'load'</span>, launch );
      }( <span class="blue">true</span> ));
    </code></pre>
    </div>
</div>
<span class="source"><a href="https://codepen.io/codetrail/pen/uHvpl">codepen.io</a></span>
<!--scripts-->
