<!--form to register-->
<form action="/api/register" class="content">

  <label for="username">Benutzername</label><br>
  <input type="text" id="username" name="username" required><br>

  <label for="fname">Vorname</label><br>
  <input type="text" id="fname" name="fname" required><br>

  <label for="lname">Nachname</label><br>
  <input type="text" id="lname" name="lname" required><br>

  <label for="password">Passwort</label><br>
  <input type="password" id="password" name="password" required><br>

  <input type="submit" value="Registrieren">

</form>
